<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="player.css">
</head>

<body>
    <div class="wrapper" id="app">
        <div class="player">
            <div class="player__top">
                <div class="player-cover">
                    <transition-group :name="transitionName">

                </div>
            </div>
        </div>
    </div>

    <div class="player-cover__item" v-if="$index === currentTrackIndex"
    :style="{ backgroundImage: `url(${track.cover})` }" v-for="(track, $index) in tracks"
    :key="$index"></div>
</transition-group>

    <script src="player.js"></script>
</body>

</html>